<p id="notice"><%= notice %></p>

<p>
  <b><%= t :create_user__firstname %></b>
  <%= @user.firstname %>
</p>

<p>
  <b><%= t :create_user__lastname %></b>
  <%= @user.lastname %>
</p>

<p>
  <b><%= t :create_user__email %></b>
  <%= @user.email %>
</p>
