<!DOCTYPE html>
<html lang="<%= System::HTML_LANGUAGE %>">
<head>
  <title><%= t :general__title %></title>
  <meta charset='utf-8'> 
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- link rel="stylesheet" href="/themes/olli1/olli1.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" / --> 
  <!-- link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" / -->
  <!-- script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script -->
  <script type="text/javascript">
	<!--
		if (top.location!= self.location) {
			top.location = self.location.href
		}
	//-->
  </script>
</head>
<body>
<ul data-role="listview">
<li><%= link_to t(:general__home), "/main/" %></li>
<% if user_signed_in? %>
<li><%= link_to t(:general__my_account), "/users/#{current_user.id}/edit" %></li>
<li><%= link_to t(:general__sign_out), destroy_user_session_path, :method => :delete %></li>
<% else %>
<li><%= link_to t(:general__sign_in), "/users/sign_in" %></li>
<li><%= link_to t(:general__sign_up), "/users/sign_up" %></li>
<% end %>
</ul>

<div id="messagebox">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>

<%= yield %>

</body>
</html>
